<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 searchForm">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" ng-model="searchText" placeholder="Search" required>
                    <span class="input-group-addon">
                        <button type="submit" id="submitButton" ui-sref="search">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
    </div>
    <div class="col-md-2"></div>
</div>
